@font-face {
  font-family: Gotham;
  src: url(../fonts/GothaProReg.otf);
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/GothaProBol.otf);
  font-weight: 700;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Capt.otf);
  font-weight: 500;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Bold.otf);
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Gotham, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-nav {
  width: 100%;
  height: 92px;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.header-nav .nav-bar .nav-item .nav-link::after {
  margin: 0 auto;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover::after {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .header-nav {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-nav .toggler-icon {
    margin-left: 0;
    margin-right: 20px;
    display: inline-block;
    width: 35px;
    cursor: pointer;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    background: #efeded;
  }
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #e3e0e0;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #000;
    text-align: center;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transition: width .5s;
    transition: width .5s;
  }
  .header-nav .nav-bar #neretina__logo-item {
    display: none;
  }
}

@media only screen and (max-width: 567px) {
  .header-nav .toggler-icon {
    width: 30px;
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

header {
  width: 100%;
  -webkit-box-shadow: 15px 0 175px -15px #efeded;
  box-shadow: 15px 0 175px -15px #efeded;
  position: fixed;
  background: #fff;
  z-index: 100;
}

header .header-block {
  width: inherit;
}

header .header-block .neretina__logo {
  display: none;
}

.header-nav_fixed {
  height: 73.6px;
}

@media only screen and (max-width: 991px) {
  header .header-block .neretina__logo {
    display: inline-block;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 575px) {
  header .header-block .neretina__logo {
    width: 125px;
  }
}

.article-heading {
  margin-bottom: 45px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-heading__image img {
  margin-left: -15px;
  width: 100%;
}

.article-heading__info {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -100px;
  padding: 0;
}

.article-heading__info-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.article-heading__info-block span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.article-heading__info-block h1 {
  margin: 0;
  font-family: Warnock;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 19px;
}

.article-heading__info-block .divider {
  width: 160px;
  height: 1px;
  background: #000;
}

.article-heading__info-block p {
  margin: 0;
  margin-top: 30px;
  margin-left: 100px;
  font-size: 24px;
  font-weight: 400;
}

.article-socials {
  margin-top: 25px;
  margin-left: auto;
  width: 85%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.article-socials .social {
  cursor: pointer;
  border-radius: 3px;
  height: 30px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding-left: 15px;
  padding-right: 30px;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.article-socials .social:hover {
  opacity: 0.85;
}

.article-socials .social span {
  margin-bottom: 0;
  font-size: 10px;
  margin-left: 5px;
}

.article-socials .social__like {
  padding: 0 29px;
  background: #8596c8;
}

.article-socials .social__like .like {
  height: 17px;
  padding: 0 5px;
  border-radius: 2px;
  background: #4080ff;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-socials .social__like .like i {
  font-size: 14px;
}

.article-socials .social__like .like span {
  text-transform: none;
  font-size: 12px;
  margin-bottom: 0;
}

.article-socials .social__fb {
  background: #4b68b3;
}

.article-socials .social__vk {
  background: #426b99;
}

.article-socials .social__twit {
  background: #04acec;
}

@media only screen and (max-width: 1199px) {
  .article-heading__info-block h1 {
    font-size: 36px;
  }
  .article-heading__info-block p {
    font-size: 20px;
  }
  .article-socials {
    width: 82%;
  }
  .article-socials .social {
    padding-left: 10px;
    padding-right: 10px;
  }
  .article-socials .social span {
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 5px;
  }
  .article-socials .social__like {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 991px) {
  .article-heading {
    margin-bottom: 30px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article-heading__image {
    margin-bottom: 30px;
  }
  .article-heading__image img {
    margin-left: 0;
  }
  .article-heading__info {
    margin-left: 0px;
  }
  .article-heading__info-block span {
    margin-bottom: 10px;
  }
  .article-heading__info-block h1 {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .article-heading__info-block p {
    margin-left: 0;
    margin-top: 50px;
    font-size: 18px;
  }
  .article-socials {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
  .article-socials .social {
    padding-left: 15px;
    padding-right: 30px;
  }
  .article-socials .social span {
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 5px;
  }
  .article-socials .social__like {
    padding: 0 29px;
  }
}

@media only screen and (max-width: 767px) {
  .article-heading {
    margin-bottom: 25px;
  }
  .article-heading__info-block h1 {
    font-size: 30px;
  }
  .article-heading__info-block p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 575px) {
  .article-heading__info {
    padding: 0 15px;
  }
  .article-heading__info-block h1 {
    font-size: 28px;
  }
  .article-heading__info-block p {
    font-size: 16px;
  }
  .article-socials {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
  .article-socials .social {
    padding-left: 15px;
    padding-right: 30px;
    margin-top: 10px;
  }
  .article-socials .social span {
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 5px;
  }
  .article-socials .social__like {
    padding: 0 29px;
  }
}

.neretina-form {
  padding: 50px 0;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.neretina-form .row {
  margin-left: 0;
  margin-right: 0;
}

.neretina-form h1 {
  margin: 0;
  margin-bottom: 20px;
  font-family: Warnock;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.neretina-form__mailing input {
  width: 100%;
  height: 60px;
  border: 1px solid #e3e3e3;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  outline-color: #000;
}

.neretina-form__mailing a {
  height: 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background: #000;
  border: 1px solid #000;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.neretina-form__mailing a:hover {
  color: #000;
  background: #fff;
}

@media only screen and (max-width: 991px) {
  .neretina-form {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .neretina-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .neretina-form__mailing input {
    height: 40px;
  }
  .neretina-form__mailing a {
    height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .neretina-form {
    padding: 35px 0;
    margin-bottom: 35px;
  }
  .neretina-form h1 {
    text-align: center;
  }
  .neretina-form__mailing input {
    height: 40px;
    margin-left: 20px;
  }
  .neretina-form__mailing a {
    height: 40px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .neretina-form {
    width: 90%;
    padding: 35px 0;
    margin-bottom: 35px;
  }
  .neretina-form .neretina-form-title {
    padding: 0;
  }
  .neretina-form h1 {
    font-size: 17px;
  }
  .neretina-form__mailing {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .neretina-form__mailing input {
    height: 40px;
    margin-left: 0px;
  }
  .neretina-form__mailing a {
    height: 40px;
    margin-right: 0px;
    margin-top: 15px;
  }
}

footer {
  width: 100%;
  -webkit-box-shadow: 0 -7px 20px 0px #efeded;
  box-shadow: 0 -7px 20px 0px #efeded;
}

footer .footer-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0;
}

footer .footer-block span {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

footer .footer-block span a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #d4d4d4;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

footer .footer-block span a:hover {
  border-bottom: 1px solid #000;
}

@media only screen and (max-width: 991px) {
  footer .footer-block {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 767px) {
  footer .footer-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
  }
  footer .footer-block span {
    margin-top: 10px;
    text-align: center;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 100%;
  }
}

.active-item {
  color: #959595 !important;
}

.article-title {
  margin: 0;
  margin-top: 141px;
  margin-bottom: 50px;
  font-family: Warnock;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.main-content {
  border-bottom: 1px solid #e3e3e3;
}

.main-content p {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.main-content ol {
  padding: 0;
  margin-top: 15px;
  font-family: Warnock;
  font-size: 26px;
  font-weight: 500;
  color: #000;
  list-style-type: none;
}

.main-content ol li {
  padding-left: 60px;
  font-family: Gotham;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 75px;
  counter-increment: step-counter;
  position: relative;
}

.main-content ol li:first-child {
  margin-top: 43px;
}

.main-content ol li:last-child {
  margin-bottom: 45px;
}

.main-content ol li::before {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  content: counter(step-counter);
  font-family: Warnock;
  font-weight: 500;
  font-size: 26px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.other-article {
  margin-top: 40px;
  margin-bottom: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.other-article .back-to-list a {
  margin-top: 40px;
  margin-bottom: 45px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #d4d4d4;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.other-article .back-to-list a:hover {
  border-bottom: 1px solid #000;
}

.other-article .back-to-list img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 10px;
  margin-bottom: 5px;
}

.other-article .article-socials {
  width: 65%;
  margin-top: 0;
}

@media only screen and (max-width: 1199px) {
  .main-content ol li {
    margin-bottom: 50px;
  }
  .other-article {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .other-article .article-socials {
    width: 65%;
  }
  .other-article .article-socials .social {
    padding-left: 15px;
    padding-right: 30px;
  }
  .other-article .article-socials .social span {
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 5px;
  }
  .other-article .article-socials .social__like {
    padding: 0 29px;
  }
}

@media only screen and (max-width: 991px) {
  .article-title {
    margin-top: 125px;
    margin-bottom: 30px;
  }
  .main-content p {
    margin-bottom: 20px;
  }
  .main-content ol li {
    margin-bottom: 30px;
    counter-increment: step-counter;
  }
  .main-content ol li:first-child {
    margin-top: 25px;
  }
  .main-content ol li:last-child {
    margin-bottom: 20px;
  }
  .other-article {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .other-article .article-socials {
    width: 65%;
  }
  .other-article .article-socials .social {
    padding-left: 15px;
    padding-right: 15px;
  }
  .other-article .article-socials .social span {
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 5px;
  }
  .other-article .article-socials .social__like {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 767px) {
  .article-title {
    font-size: 26px;
    margin-top: 120px;
    margin-bottom: 25px;
  }
  .other-article {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .other-article .article-socials {
    width: 100%;
    margin-top: 15px;
  }
  .other-article .article-socials .social {
    padding-left: 15px;
    padding-right: 30px;
  }
  .other-article .article-socials .social span {
    margin-bottom: 0;
    font-size: 10px;
    margin-left: 5px;
  }
  .other-article .article-socials .social__like {
    padding: 0 29px;
  }
}

@media only screen and (max-width: 575px) {
  .article-title {
    font-size: 24px;
    margin-top: 115px;
  }
}
