@font-face {
  font-family: Gotham;
  src: url(../fonts/GothaProReg.otf);
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/GothaProBol.otf);
  font-weight: 700;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Capt.otf);
  font-weight: 500;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Bold.otf);
  font-weight: 700;
}

.header-nav {
  width: 100%;
  height: 92px;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.header-nav .nav-bar .nav-item .nav-link::after {
  margin: 0 auto;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover::after {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .header-nav {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-nav .toggler-icon {
    margin-left: 0;
    margin-right: 20px;
    display: inline-block;
    color: #000;
    font-size: 30px;
    cursor: pointer;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    background: #efeded;
  }
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #e3e0e0;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #000;
    text-align: center;
  }
  .header-nav .nav-bar .nav-item .nav-link::after {
    -webkit-transition: width .5s;
    transition: width .5s;
  }
  .header-nav .nav-bar #neretina__logo-item {
    display: none;
  }
}

@media only screen and (max-width: 567px) {
  .header-nav .toggler-icon {
    font-size: 26px;
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Gotham, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header {
  width: 100%;
  -webkit-box-shadow: 0 0px 75px 0px #efeded;
  box-shadow: 0 0px 75px 0px #efeded;
}

header .header-block .neretina__logo {
  display: none;
}

.header-nav_default {
  position: relative;
}

.header-nav_fixed {
  background: #fff;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 50px;
  -webkit-box-shadow: 0 0px 75px 0px #efeded;
  box-shadow: 0 0px 75px 0px #efeded;
  height: 73.6px;
}

@media only screen and (max-width: 991px) {
  header .header-block .neretina__logo {
    display: inline-block;
    margin-left: 20px;
  }
  .header-nav_fixed {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav_fixed {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 575px) {
  header .header-block .neretina__logo {
    width: 125px;
  }
  .header-nav_fixed {
    padding: 0 0px;
  }
}

.neretina-form {
  padding: 50px 0;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.neretina-form .row {
  margin-left: 0;
  margin-right: 0;
}

.neretina-form h1 {
  margin: 0;
  margin-bottom: 25px;
  font-family: Warnock;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.neretina-form__mailing input {
  width: 100%;
  height: 60px;
  border: 1px solid #e3e3e3;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  outline-color: #000;
}

.neretina-form__mailing a {
  height: 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background: #000;
  border: 1px solid #000;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.neretina-form__mailing a:hover {
  color: #000;
  background: #fff;
}

@media only screen and (max-width: 991px) {
  .neretina-form {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .neretina-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .neretina-form__mailing input {
    height: 40px;
  }
  .neretina-form__mailing a {
    height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .neretina-form {
    padding: 35px 0;
    margin-bottom: 35px;
  }
  .neretina-form h1 {
    text-align: center;
  }
  .neretina-form__mailing input {
    height: 40px;
    margin-left: 20px;
  }
  .neretina-form__mailing a {
    height: 40px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .neretina-form {
    padding: 35px 0;
    margin-bottom: 35px;
  }
  .neretina-form h1 {
    font-size: 18px;
  }
  .neretina-form__mailing {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .neretina-form__mailing input {
    height: 40px;
    margin-left: 0px;
  }
  .neretina-form__mailing a {
    height: 40px;
    margin-right: 0px;
    margin-top: 15px;
  }
}

.article-heading {
  margin-top: 50px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-heading__image img {
  margin-left: -15px;
  width: 100%;
}

.article-heading__info {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -100px;
  padding: 0;
}

.article-heading__info-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.article-heading__info-block span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.article-heading__info-block h1 {
  margin: 0;
  font-family: Warnock;
  font-size: 46px;
  font-weight: 400;
}

.article-heading__info-block .divider {
  width: 160px;
  height: 1px;
  background: #000;
}

.article-heading__info-block p {
  margin: 0;
  margin-top: 30px;
  margin-left: 100px;
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .article-heading__info-block h1 {
    font-size: 46px;
  }
  .article-heading__info-block p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .article-heading {
    margin-top: 30px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article-heading__image {
    margin-bottom: 30px;
  }
  .article-heading__image img {
    margin-left: 0;
  }
  .article-heading__info {
    margin-left: 0px;
  }
  .article-heading__info-block h1 {
    font-size: 46px;
  }
  .article-heading__info-block p {
    margin-left: 0;
    margin-top: 20px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .article-heading__info {
    padding: 0 15px;
  }
  .article-heading__info-block h1 {
    font-size: 46px;
  }
  .article-heading__info-block p {
    font-size: 16px;
  }
}

footer {
  width: 100%;
  -webkit-box-shadow: 0 -7px 20px 0px #efeded;
  box-shadow: 0 -7px 20px 0px #efeded;
}

footer .footer-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0;
}

footer .footer-block span {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

footer .footer-block span a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #d4d4d4;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

footer .footer-block span a:hover {
  border-bottom: 1px solid #000;
}

@media only screen and (max-width: 991px) {
  footer .footer-block {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 767px) {
  footer .footer-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
  }
  footer .footer-block span {
    margin-top: 10px;
    text-align: center;
    width: 90%;
  }
}

.article-heading__info-block h1 {
  font-size: 80px;
}

.article-heading__info-block p {
  width: 70%;
}

.article-heading__info-block .more-about-me {
  margin-left: 100px;
  margin-top: 40px;
  width: 270px;
  height: 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.article-heading__info-block .more-about-me:hover {
  background: #000;
  color: #fff;
}

.article-heading__info .neretina-socials {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.article-heading__info .neretina-socials a {
  margin-bottom: 35px;
  color: #000;
}

.article-heading__info .neretina-socials a:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 1199px) {
  .article-heading__info-block h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 991px) {
  .article-heading__info-block h1 {
    font-size: 60px;
  }
  .article-heading__info-block p {
    width: 80%;
  }
  .article-heading__info-block .more-about-me {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 210px;
    height: 50px;
  }
  .article-heading__info .neretina-socials a {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .article-heading__info-block h1 {
    font-size: 46px;
  }
  .article-heading__info-block p {
    width: 77%;
  }
  .article-heading__info-block .more-about-me {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .article-heading__info .neretina-socials a {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .article-heading__info-block h1 {
    font-size: 36px;
  }
  .article-heading__info-block p {
    width: 90%;
  }
}
