// to compile...

@import "./_components/_fonts.scss";
@import "./_components/_header.scss";
@import "./_components/_neretina-form__mailing.scss";
@import "./_components/_article-heading.scss";
@import "./_components/_footer.scss";


.article-title {
  margin: 0;
  margin-top: 50px;
  font-family: Warnock;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.more-articles__block {
  a {
    margin-top: 40px;
    margin-bottom: 45px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #d4d4d4;
    -webkit-transition: all, .5s;
    transition: all, .5s;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }

  img {
    margin-left: 25px;
    margin-bottom: 7px;
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {
  .article-title {
    font-size: 26px;
    margin-top: 30px;
  }
}

@media only screen and (max-width : 575px) {
  .article-title {
    font-size: 24px;
    margin-top: 25px;
  }
}
