// to compile...

@import "./_components/_fonts.scss";
@import "./_components/_header.scss";
@import "./_components/_neretina-form__mailing.scss";
@import "./_components/_article-heading.scss";
@import "./_components/_articles.scss";
@import "./_components/_footer.scss";

.article-heading {
  &__info {
    &-block {
      h1 {
        font-size: 80px;
      }

      p {
        width: 70%;
      }

      .more-about-me {
        margin-left: 100px;
        margin-top: 40px;
        width: 270px;
        height: 60px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        color: #000;
        background: #fff;
        border: 1px solid #000;
        -webkit-transition: all, .5s;
        transition: all, .5s;

        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }

    .neretina-socials {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;

      a {
        margin-bottom: 35px;
        color: #000;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .article-heading {
    &__info {
      &-block {
        h1 {
          font-size: 65px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .article-heading {
    &__info {
      &-block {
        h1 {
          font-size: 60px;
        }

        p {
          width: 80%;
        }

        .more-about-me {
          margin-left: 0px;
          margin-top: 30px;
          width: 210px;
          height: 50px;
        }
      }

      .neretina-socials {
        a {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .article-heading {
    &__info {
      &-block {
        h1 {
          font-size: 46px;
        }

        p {
          width: 77%;
        }

        .more-about-me {
          margin-top: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  .article-heading {
    &__info {
      &-block {
        h1 {
          font-size: 36px;
        }

        p {
          width: 90%;
        }
      }
    }
  }
}

.new-on-site {
  margin: 0;
  font-family: Warnock;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.more-articles__block {
  a {
    margin-top: 40px;
    margin-bottom: 45px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #d4d4d4;
    -webkit-transition: all, .5s;
    transition: all, .5s;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }

  img {
    margin-left: 25px;
    margin-bottom: 7px;
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {
  .new-on-site {
    margin: 0 auto;
  }
}

@media only screen and (max-width : 767px) {
  .new-on-site {
    font-size: 26px;
  }
}

@media only screen and (max-width : 575px) {
  .new-on-site {
    font-size: 24px;
  }
}
