@font-face {
  font-family: Gotham;
  src: url(../fonts/GothaProReg.otf);
  font-weight: 400;
}

@font-face {
  font-family: Gotham;
  src: url(../fonts/GothaProBol.otf);
  font-weight: 700;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Capt.otf);
  font-weight: 500;
}

@font-face {
  font-family: Warnock;
  src: url(../fonts/WarnockPro-Bold.otf);
  font-weight: 700;
}
